body {
  background: linear-gradient(135deg, violet, blue);

}

.card {
  background-color: blanchedalmond !important;
}

.weather-box .temperature {
  font-size: 40px;
  font-weight: 800;
  position: relative;
}

.weather-box .temperature sup {
  font-size: 20px;
  position: absolute;
  font-weight: 600;
}

.weather-box .description {
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}

.weather-body img {
  width: 50%;
}